.string {
    display: inline-flex;
    width: 100%;
}

.radio {
    display: inline-block;
}

.radio-label {
    padding-left: 5px;
}

.button {
    position: absolute;
    left: 50%;
    height: 7%;
    width: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
    transform: translate(-50%);
    color: #fff;
    background-color: #38c172;
    border-color: #38c172;
    font-size: 25px;
}

.pick-sex {
    display: flex;
    justify-content: space-evenly;
}

.pick-pensioner {
    display: flex;
    justify-content: space-evenly;
}

.title {
    font-size: 45px;
    padding-left: 30%;
}

.text-center {
    font-size: 20px;
}

.menu-button {
    text-decoration: none;
    color: white !important;
    text-align: center;
    box-shadow: 0 4px 3px 1px rgba(63, 60, 121, 0.46);
    border-radius: 10px;
    background-color: #3b88fd;
    box-sizing: border-box;
    border: 1px;
}

.menu-button:hover {
    text-decoration: none;
    color: white;
    background-color: #195cc1;
}

input {
    border-radius: 10px !important;
}

.error {
    border-color: red;
}

.active {
    background-color: #0765f2;
    box-shadow: none;
}

.delete-select {
    font-size: 30px;
    padding-top: 5%;
    padding-bottom: 2%;
}

.empty {
    font-size: 50px;
    padding-top: 30%;
    color: darkred;
}

.selected {
    display: none;
}

.title-bank {
    font-size: 45px;
}

.dynamic {
    display: none;
}

.contract_number {
    display: none;
}

.percent {
    display: none;
}

.closing {
    font-size: 25px;
    padding: 5px 5px 5px 5px;
}

.closing-div {
    padding: 100px 270px 252px 461px;
}
